
html {
    scroll-behavior: smooth;
}


body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: #a6a2a221;
}

.nav-bar {
  justify-content: center;
  display: flex;
  text-align: center !important;
  align-items: center !important;
  height: 80px;
  width: 100%;
  margin: auto;
  background: #e6e6e6;
}

.nav-bar img {
  margin-left: 10px;
  width: 95px;
  height: 85px;
  border: 0;
  border-radius: 25px;
}
.nav-bar a {
  align-items: center !important;
  text-align: center;
  text-decoration: none;
  margin: 2px 15px;
  color: #013287;
  font-size: 21px;
  font-weight: normal;
}

.nav-bar a:hover {
  text-align: center;
  color: #31d8ba;
  text-shadow: 0 0 1px blue;
}

.menu {
  list-style: none;
  display: flex;
  overflow: hidden;
}

.burger {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 22px;
  right: 22px;
  display: none;
}

.burger:hover div {
  background: black;
}

.burger div {
  background: #605c5c;
  width: 35px;
  height: 5px;
  border-radius: 19px;
  margin: 1px;
}

.main {
  padding: 15px;
}

.image-slider {
  width: 95vw;
  height: 400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px grey;
  overflow: hidden;
}

.image-slider img {
  width: 100%;
}

.tag-line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  position: relative;
  left: 0;
  height: 150px;
  margin: 25px auto;
  padding: 5px;
  background: #e6e6e6;
  font-size: 30px;
  text-align: center;
  box-shadow: 0 0 5px grey;
}

.recent-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  font-size: 23px;
}

.recent-projects h2 {
  margin-bottom: 5px;
}

hr {
  width: 80%;
}

.project-item-wrapper {
  display: flex;
  margin-top: 15px;
  justify-content: center;
}

.project-item {
  display: flex;
  flex-direction: column;
  margin: 15px;
  background-color: bisque;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 5px grey;
  padding: 15px;
  width: 35%;
}

.project-item img {
  width: 300px;
  height: 200px;
}

.project-item p {
  font-size: 18px;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
  font-size: 23px;
}

.team h2 {
  margin-bottom: 5px;
}

hr {
  width: 80%;
}

.team-members {
  background-color: rgba(243, 243, 243, 0.603);
  display: grid;
  margin-top: 15px;
  width: 90%;
  padding: 10px 25px;
  box-shadow: 0 0 5px grey;
  justify-content: center;
}

.member {
  display: flex;
  flex-direction: column;
  margin: 15px;
  align-items: center;
  text-align: center;
}

.member img {
  width: 180px;
  height: 180px;
  border-radius: 180px;
}

.member p {
  font-size: 18px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #e6e6e6;
  position: absolute;
  width: 100%;
  font-size: 15px;
}

p a {
  text-decoration: none;
}

@media screen and (max-width: 840px) {
  .nav-bar a {
    font-size: 20px;
  }
  .tag-line {
    font-size: 25px;
  }
  .recent-projects {
    font-size: 18px;
  }
  .project-item img {
    width: 250px;
    height: 180px;
  }
  .team-members {
    grid-template-columns: auto auto;
  }
  .team {
    font-size: 18px;
  }
}

@media screen and (max-width: 680px) {
  .nav-bar a {
    font-size: 17px;
  }
  .project-item-wrapper {
    flex-direction: column;
    margin: auto;
    align-items: center;
  }
  .project-item {
    width: 75%;
  }
  .project-item img {
    width: 350px;
    height: 280px;
  }
  .footer {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .nav-bar {
    flex-direction: column;
    height: 80px;
    width: 100%;

    transition: all 0.7s ease-out;
  }
  .nav-bar img {
    height: 75px;
    width: 85px;
  }
  .menu {
    flex-direction: column;
    width: 100%;
    text-align: center;

  }
  .hamburger {
    display: block;
  }
  .show {
    opacity: 0;
}
  .nav-height {
    height: 170px;
}

  .nav-bar .menu li {
    margin: 4px;
  }
  .project-item img {
    width: 300px;
    height: 250px;
  }
}


.card {
  height: 500px;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-decoration: none;
  border: 4px solid #f1e5ea62;
  margin-bottom: 20px;
  background-image: url(../img/14.jpg);
    background-size: cover;

  @include media {
    height: 500px;
  }
}

.inner {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.527);
  box-sizing: border-box;
  padding: 40px;

  @include media {
    width: 50%;
    height: 100%;
  }
}

.title {
  font-size: 24px;
  color: rgb(188, 170, 170);
  text-align: center;
  font-weight: 700;
  color: #575656;
  position: relative;
  margin: 0 0 20px 0;

  @include media {
    font-size: 30px;
  }
}

.subtitle {
  color: #000000;
  text-align: center;
}

.card2 {
  background-image: url(../img/13.jpg);
}

.card3 {
  background-image: url(../img/15.jpg);
}
@import ;

.hero-section{
  align-items: flex-start;
  background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.ncard-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .ncard-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 960px){
  .ncard-grid{
    grid-template-columns: repeat(4, 1fr);
  }
}

.ncard{
  list-style: none;
  position: relative;
}

.ncard:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.ncard__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition:
    filter 200ms linear,
    transform 200ms linear;
}

.ncard:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.ncard-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.ncard__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.ncard__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.ncard__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}
